Repository mu-editor/mu, pull requests merged in 2020-09, with the labels that each got.

#1094 Add support for requested devices
  mu/logic.py
  mu/modes/circuitpython.py
  mu/modes/esp.py
Labels: devices, modes

#1083 Update details of packaging on Raspberry Pi OS, Debian, and Ubuntu
  docs/packaging.rst
Labels: packaging

#1026 Support mouse movement, selection, and fix several bugs in micro:bit & ESP-mode REPL
  mu/interface/panes.py
  tests/interface/test_panes.py
Labels: modes

#1018 Add right-click menu option "Write to main.py on device" in local filepane
  mu/interface/main.py
  mu/interface/panes.py
  mu/modes/base.py
  tests/interface/test_panes.py
Labels: modes

#1095 Make baudrate customizable by modes
  mu/modes/base.py
Labels: modes
